---
Checks: '*,
        -concurrency-mt-*,
        -fuchsia-*,
        -google-*,
        -zircon-*,
        -abseil-*,
        -altera-struct-*,
        -modernize-use-trailing-return-type,
        -llvmlibc-callee-namespace,
        -misc-non-private-member-variables-in-classes,
        -readability-function-cognitive-complexity,
        -cppcoreguidelines-macro-usage,
        -cppcoreguidelines-pro-type-static-cast-downcast,
        -readability-convert-member-functions-to-static,
        -bugprone-branch-clone,
        -llvmlibc-*'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: none
